/*footer*/
.footer-content{
    margin-top:55px;
    height: 186px;
    width: 100x;
    background:radial-gradient(#164077,#0f0e3d);
    text-align: center;
    margin-left: -50px;
    margin-right: -50;
}
.footer-content h3{
    font-family: cursive;
    font-size: 25px;
    color: #dfa425;
    text-align: center;
}
.footer-content p{
    font-family: Monospace;
    color: #ffffff;
}
.socials{
    align-items: center;
    margin-top: 10px;
}