/*footer*/
.footer-content{
    margin-top: 155px;
    text-align: center;
}
.footer-content h3{
    font-family: cursive;
    font-size: 25px;
    color: #dfa425;
    text-align: center;
}
.footer-content p{
    font-family: Monospace;
    color: #ffffff;
    font-size: 15px;
}
.socials{
    align-items: center;
    margin-top: 10px;
}