


.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 820px;
    height: 350px;
    width: 100%;
    background: #4dbcf0;
    border: #000000;
    transform: translate(-50%, -50%);
}


.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    max-width: 330px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #ff0000;
    pointer-events: none;
    transform: translate(-50%);
}

.form .input-field label:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translate(0%);
}
