.box{
    width: 200px;
    height: 210px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
    margin: 20px;
    transition: 0.5s;
    
}

.box img{
    width: 100%;
    height: 200px;
    
}
.box:hover{
    width: 250px;
    height: 360px;
    transform: translateY(-15px);
    background-color: rgb(0, 0, 0);
}
.post button{
    color: rgb(0, 0, 0);
    font-size: 25px;
    line-height: 1.3;
    margin-left: 0;
    margin-right: 0;
    margin: top 3px;
    align-items: center;
}