*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.banner{
    background-image: linear-gradient(rgba(0, 60, 65, 0.75),rgba(71, 2, 2, 0.75)),url(images/h11.png);
    size: 100%;
    
}
.body{

}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

}
.card{
    width: 450px;
    height: 365px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
    margin: 20px;
    transition: 0.5s;
    
}
.card img{
    width: 450px;
    height: 250px;
    
}
.card:hover{
    transform: translateY(-15px);
    background-color: rgb(79, 214, 131);
}
.card-container{
    padding: 16px;
    text-align: center;
}
.card-container h3{
    font-size: 28px;
    margin-bottom: 8px; 
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 80px;
}
.card-container p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.3;
    margin-left: 0;
    margin-right: 0;
    margin: top 3px;
}
.card-container .btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin-top:25px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
   background-color: rgb(5, 83, 16);
   height: 30px;
   width: 150px;
}
.card-container a{
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255); 
}

