*{
    margin: 0 20px;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    background-image: linear-gradient(rgba(0, 60, 65, 0.75),rgba(71, 2, 2, 0.75)),url(images/h11.png);
    width: 100%;
    
       
}


.menu{
    width: 85%;
    justify-content: space-between;
    padding-top: -150px;
    text-align: right;
    margin-left: 220px;
}

.logo{
    width:120px;
    cursor: pointer;
    padding-left: 0%;

}
/*Back button*/
.back-btn {
    align-items: end;
    background-color: #bb0b0b;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #6e0404;
}
h1{
    padding-top: -10px;
    color: #e7e566;
    font-size: 80px;
    margin-top: -40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    color: #cdf100;
    padding-top: 10px;
    font-size: 50px;
}
h3{
    font-size: large;
    color: #ffffff;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
    margin: 10px;
    font-size: 20px;
  
}
.navbar ul li a{
    text-decoration: none;
    color: #d10a0a;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    text-align: center;
    margin-top: 75px;
}
.content p{
    font-family: serif;
    font-size: large;
}
    


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #fffb00;
    background: transparent;
    color: #01ff01;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    font-family: Comic, Comic;
}
span{
    background: #000000;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    height: 100%;
}
button:hover{
    border-color: #ff105f;
    background-color: rgb(0, 0, 0);
    color: yellow;
}
.about-one{
    text-align: center;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}
 .about-one h1{
    color: #ff105f;
 }
 .about-one h2{
    color: #8ff1b0;
 }
 .about-one p{
    color: #d0f1db;
 }

p{
    color: rgb(255, 255, 255);
    font-weight: bold;
}



#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transform: 5s;
}

.whatsapp{
    text-align: right;
    padding-right: 30px;
    margin-top: 380px; 
 
}
.icon{
    width:150px;
    cursor: pointer;
    padding-right: 15px;
    margin-top: 30px;
}
.product-card {
    background-color: transparent;
    border: 1px solid none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 23, 23, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}
.product-card img {
    width: 10%;
    height: auto;
    border-bottom: 1px solid #835353;
}






.sponser {
   text-align: center;
   margin-top: 35px;
    margin-left: 20px;
    margin-right: 30px;
    display:inline-block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
    transition: 0.5s;

}
.sponser img { 
    width: 100%;
    height: 80px;
    align-items: center;  
}
.sponser:hover {
    transform: translateY(-15px);
    background-color: none;
}
.post img{
    align-items: center;
}


.loginpage{
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 550px;
    margin-right: 550px;
    background-color: rgba(132, 103, 236, 0.855) ;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .loginpage input{
    margin-left: 50px;
    width: 300px;
    height: 25px;
    display: flex;
    border: none;
    margin-right: 10%;
  }
  
  /*login page textbar size*/
  .logintext{
    padding-bottom: 1%;
    padding-top: 3%;
    padding-right: 20%;
  }
  
  /*login page submit button*/
  .submitbtn button{
    color: #ff105f;
    font-size: 40px;
    font-weight: bold;
    margin: 2%;
    background-color: none;
    padding: 1% 5%;
    align-items: center;
    margin-top: -20px;
    
  }

  * {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




.cart {
    display: flex;
    align-items: center;
}

.cart span {
    margin-right: 1px;
}

.view-cart-btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(9, 211, 9);
}

.add-to-cart-btn {
    background:radial-gradient(#fff,#f1e314);
    color: rgb(15, 15, 15);
    border: none;
    padding: 10px 20px;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: #fcad2e;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(187, 190, 233);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

#cart-items li button {
    background-color: #e74c3c;
    color: rgb(3, 3, 3);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/*cart page (main)*/


.cart{
    margin: 20px;
   }
  

